.slider {
    margin-bottom: 20px;
    padding: 15px 5%;
    border-radius: 5px;
    background-color: #fff;
}
.problem-bar {
    padding-bottom: 10px;
    font-size: 1.6rem;
    line-height: 1.8rem;
    overflow: hidden;
    color: #505050;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .answer-tips, .disease-tips {
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding-bottom: 4px;
    color: #797979;
  }